body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    height: 50px;
    line-height: 50px;
    background-color: black;
}
.nav-list li {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.nav-list li:nth-child(8) {
    font-size: 38px;
    color: red;
}
/*nth-child*/
/*nth-of-type*/