* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.resize{
    width: 224px;
    height: 80px;
    color: blue;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    resize: auto;
}