* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 1000px;
    width: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(незнаю2.jpg);

}
.cardContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    align-items: center;
    transition: 0.7s;
    border: 3px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.cardContent:hover {
    height: 420px;
    box-shadow: 0 0 10px #fff inset 0 0 10px #fff;
}
.cardContent p {
    margin-top: 100px;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 1s;
}
.cardContent:hover p {
    letter-spacing: 8px;
}
.profil-img {
    position: absolute;
    transform: translateY(-90px);
    background-image: url(незнаю1.jpg);
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border: 3px solid #fff;
    transition: 0.8s;
}
.cardContent:hover .profil-img {
    box-shadow: 0 0 10px #fff inset 0 0 10px #fff;
    transform: scale(130%) translateY(-90px);
}
.cardLink {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.7s;
}
.cardContent:hover .cardLink {
    margin-top: 0;
}
.link {
    margin-top: 15px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 40px;
    padding: 5px 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 34px;
    border: 2px solid #fff;
    transition: 0.3s;
    font-size: 15px;
}
.link:hover {
    box-shadow: 0 0 10px #fff inset 0 0 10px #fff;
    letter-spacing: 3px;
    background: #fff;
    color: #000;
}